<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <servlet>
        <servlet-name>freemarker</servlet-name>
        <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>

        <!--
          Init-param documentation:
          https://freemarker.apache.org/docs/api/freemarker/ext/servlet/FreemarkerServlet.html
        -->

        <!-- FreemarkerServlet settings: -->
        <init-param>
            <param-name>TemplatePath</param-name>
            <param-value>/</param-value>
        </init-param>
        <init-param>
            <param-name>NoCache</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>ResponseCharacterEncoding</param-name>
            <!-- Use the output_encoding setting of FreeMarker: -->
            <param-value>fromTemplate</param-value>
        </init-param>
        <init-param>
            <param-name>ExceptionOnMissingTemplate</param-name>
            <!-- true => HTTP 500 on missing template, instead of HTTP 404. -->
            <param-value>true</param-value>
        </init-param>

        <!-- FreeMarker engine settings: -->
        <init-param>
            <param-name>incompatible_improvements</param-name>
            <param-value>2.3.27</param-value>
            <!--
              Recommended to set to a high value.
              See: https://freemarker.apache.org/docs/pgui_config_incompatible_improvements.html
            -->
        </init-param>
        <init-param>
            <param-name>template_exception_handler</param-name>
            <!-- Use "html_debug" during development! -->
            <param-value>rethrow</param-value>
        </init-param>
        <init-param>
            <param-name>template_update_delay</param-name>
            <!-- Use 0 during development! Consider what value you need otherwise. -->
            <param-value>30 s</param-value>
        </init-param>
        <init-param>
            <param-name>default_encoding</param-name>
            <!-- The encoding of the template files: -->
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>output_encoding</param-name>
            <!-- The encoding of the template output; Note that you must set
                 "ResponseCharacterEncodring" to "fromTemplate" for this to work! -->
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>locale</param-name>
            <!-- Influences number and date/time formatting, etc. -->
            <param-value>ru_RU</param-value>
        </init-param>
        <init-param>
            <param-name>number_format</param-name>
            <param-value>0.##########</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>freemarker</servlet-name>
        <url-pattern>*.ftl</url-pattern>
        <!-- HTML and XML auto-escaped if incompatible_improvements >= 2.3.24: -->
        <url-pattern>*.ftlh</url-pattern>
        <url-pattern>*.ftlx</url-pattern>
    </servlet-mapping>

    <!-- Define the default session timeout for your application,
         in minutes.  From a servlet or JSP page, you can modify
         the timeout for a particular session dynamically by using
         HttpSession.getMaxInactiveInterval(). -->

    <session-config>
        <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>


</web-app>