.message-container1{
    border: 4px double black; /* Параметры границы */
    background-color: lightgray ;
    /* Поля вокруг текста */
    width: 65%;
    margin: 20px 30% 20px 20px ;
    padding: 5%;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);


}

.message-container2{
    border: 4px double black; /* Параметры границы */
    background-color: lightgreen ;
    /* Поля вокруг текста */
    width: 50%;
    margin: 20px 20px 20px 30%;
    padding: 5%;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}



