<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

<!--    <welcome-file-list>-->
<!--        <welcome-file>/hello</welcome-file>-->
<!--    </welcome-file-list>-->

    <!-- General description of your web application -->

    <display-name>My Web Application</display-name>
    <description>
        This is version X.X of an application to perform
        a wild and wonderful task, based on servlets and
        JSP pages.  It was written by Dave Developer
        (dave@mycompany.com), who should be contacted for
        more information.
    </description>


    <!-- Context initialization parameters that define shared
         String constants used within your application, which
         can be customized by the system administrator who is
         installing your application.  The values actually
         assigned to these parameters can be retrieved in a
         servlet or JSP page by calling:

             String value =
               getServletContext().getInitParameter("name");

         where "name" matches the <param-name> element of
         one of these initialization parameters.

         You can define any number of context initialization
         parameters, including zero.
    -->

    <context-param>
        <param-name>Message</param-name>
        <param-value>Hello</param-value>
    </context-param>


z
    <session-config>
        <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>


</web-app>